.carousel-outer-container {
  position: relative;
  width: 100vw;
}

.carousel-inner {
  transition: all 0.5s ease;
  display: flex;
  scroll-snap-type: x mandatory;
  gap: calc(1.5vw + 20px);
  padding: 0 20px;
}  

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  display: none;
  opacity: 1;
  font-size: 3rem;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.6);
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.carousel-outer-container:hover .carousel-control-prev,
.carousel-outer-container:hover .carousel-control-next {
  display: flex;
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background: rgba(0, 0, 0, 0.8);
}
